/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_bootstrap
 *= require jquery.ui.datepicker
 *= require_tree .
 */



.topshit {
	height:100px;
	background: #f0f0f0;
	border-left: 1px solid #fff;
	margin-top:20px;

	border: 1px solid white;
	     box-shadow:
	       0 0 0 1px #ddd;
	border-top-left-radius: 15px 15px
	background: rgb(238,238,238); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, top, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(225,225,225,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 */
   border-radius: 10px 10px 0 0;
   
}
.centre-nav {
	margin-left: 140px;
}
.download_btn {
	margin: 30px;
	float:left;
}



.bottomshit {

	background: #fff;
	border: 1px solid white;
	     box-shadow:
	       0 0 0 1px #ddd;
	
	border-radius: 0 0 10px 10px;
	padding:60px;

}